# Environment configuration for my-node-api

# Server configuration
PORT=
HOST=
SERVER_URL=
CORS_ORIGIN=

# Database configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Prisma configuration
DATABASE_URL=

# JWT configuration
SECRET_KEY=
TOKEN_EXPIRATION=
MAX_AGE=